<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="284548c7-a46f-4047-ba2c-71502e05074d" Publisher="CN=Neil" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Web-Service-Monitor-Tile</DisplayName>
    <PublisherDisplayName>Neil</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Web_Service_Monitor_Tile.App">
      <VisualElements DisplayName="Web-Service-Monitor-Tile" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Web-Service-Monitor-Tile" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Logo-wide.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>